<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEVELOPMENT_APP_KEY</key>
	<string>ggEVEev6TmaLrz3uCiHtvQ</string>
	<key>DEVELOPMENT_APP_SECRET</key>
	<string>AVGHbFbkQKu-utdOYLfgYg</string>
	<key>APP_STORE_OR_AD_HOC_BUILD</key>
	<string>NO</string>
	<key>LOGGING_ENABLED</key>
	<false/>
</dict>
</plist>
